.left {
  left: 24px; /* tiny spacing from browser edge */
  width: 14vw;
  padding: 2rem 1.5rem;
}

.center {
  margin-left: calc(14vw + 48px);  /* left column width + 0.5" gap */
  margin-right: calc(14vw + 48px); /* right column width + 0.5" gap */
  height: 100vh;
  overflow-y: auto;
  padding: 4rem 0;
}

.right {
  right: 24px; /* 0.25" from browser edge */
  width: 14vw;
  padding: 2rem 0.5rem;
  text-align: left;
}
